/* App.css
Author: @Mar Caceres Munoz */

/* --------------------------------------------------------- IMPORTS -------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* --------------------------------------------------------- GENERAL ------------------------------------------------------------------------------*/
   .App {
    margin-top: 39px;
  }
  
  body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat';
  }

/* --------------------------------------------------------- NAV BAR ------------------------------------------------------------------------------*/
.navbar {
  background-color: #1b3c5c; 
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar nav {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}

.navbar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  display: inline;
}

.navbar nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar nav ul li a:hover {
  background-color: #051830;
}

/* --------------------------------------------------------- COMPANY LOGO --------------------------------------------------------------------------*/
.hero {
  /*background-size: cover;
  /*background-attachment: fixed; */
  background-position: center;
  font-family: 'Montserrat';
  /*background: linear-gradient(135deg, #1e4873, #073b4c); */
  text-align: center;
  padding: 100px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero h1 {
  font-size: 4.8em;
  margin-top: 210px;
}

.hero p {
  font-size: 1.3em;
  margin-top: -50px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure the video covers the entire section */
  z-index: -1;
  /*filter: blur(1px);
  filter: brightness(0.5);*/
}

.hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.hero-content {
  max-width: 800px;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero-logo {
  width: 400px;
  display: block;
  margin: 0 auto;
  height: auto;
}

/* about us */
.aboutus p {
  font-size: 1.1em;
  margin-top: 50px;
  text-align: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.aboutsection {
  height:  auto;
}

.about {
  background-color: #1b1f36;
  color: #fff;
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.content p {
  font-size: 1.1em;
  line-height: 1.6;
  text-align: center;
}

.main-title p {
  text-align: center;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
}

.testimonial {
  flex: 1;
  max-width: 600px;
  margin: 0 20px;
}

  blockquote {
    font-size: 1.1em;
    font-style: italic;
    margin-bottom: 20px;
    position: relative;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

blockquote p {
  margin-bottom: 10px;
}

blockquote footer {
  font-weight: bold;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4em;
  color: #1b1f36;
  opacity: 0.3;
  z-index: -1;
}

blockquote::after {
  content: "”";
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 4em;
  color: #1b1f36;
  opacity: 0.3;
  z-index: -1;
}

.quote-image1 {
  top: -290px;
  position: relative;
  left: 280px;
  z-index: 3000;
  width: 60px; 
  height: auto; 
}

.quote-image2 {
  top: -250px;
  position: relative;
  left: 285px;
  z-index: 3000;
  width: 60px; 
  height: auto; 
}

.reversed-image1 {
  top: -53px;
  position: relative;
  left: -290px;
  z-index: 3000;
  width: 60px; 
  height: auto; 
}

.reversed-image2 {
  top: -50px;
  position: relative;
  left: -290px;
  z-index: 3500;
  width: 60px; 
  height: auto; 
}
/* --------------------------------------------------------- COMPANY LOGO --------------------------------------------------------------------------*/
.how-it-works {
  background-color: #1b1f36;
  color: #fff;
  padding: 100px 0;
  text-align: center;
  height: 100vh;
}

/* ---------------------------------------------------------- SHARED SECTIONS ----------------------------------------------------------------------*/
/*These stylings apply to How does it work, What can it detect, and Features sections. */
.random-section {
  background-color: #1b1f36;
  color: #fff;
  padding: 100px 0;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* ------------------------------------------------------ HOW DOES IT WORK -------------------------------------------------------------------------*/
.random-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.main-title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.steps-and-wireframes {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 50px;
}

.wireframes-image {
  width: 140%;
  max-width: 500px;
  margin-right: 80px;
  margin-left: -300px;
  margin-top: -45px;
}

.step-item {
  display: flex;
  align-items: center; 
}

.step-content {
  display: flex; 
  align-items: center;
  margin-top: 30px;
  margin-left: -20px;
}

.icon-container {
  margin-left: 50px;
}

@keyframes palpitation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.step-icon {
  font-size: 1.3em;
  color: #11d4cb;
  animation: palpitation 1s infinite alternate;
}

.steps-container p {
  margin-left: 50px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Apply typewriter effect to each step content separately */
.step-content p:nth-child(2) {
  animation: typing 3s steps(40, end);
}

.step-content p:nth-child(3) {
  animation: typing 3s steps(80, end) 9s;
}

.step-content p:nth-child(4) {
  animation: typing 3s steps(120, end) 15s;
}

/* ------------------------------------------------------- FREE TRIAL BUTTON -------------------------------------------------------------------------*/
.floating-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 100px;
  height: 40px;
  padding: 5px;
  background-color: #1e4873;
  color: #fff;
  border: 2px solid #1e4873; 
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s; 
}

.floating-button:hover {
  background-color: #153256;
  transform: scale(1.05);
}

@keyframes floatAnimation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* --------------------------------------------------------- FREE TRIAL POPUP ------------------------------------------------------------------------*/
.popup {
  position: absolute;
  top: calc(100% + 20px); /* Position the popup below the button */
  right: 0;
  width: 200px;
  background-color: #f5f5f5; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
  border-radius: 10px; 
  padding: 20px;
  margin: 10px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  z-index: 9998;
  transition: opacity 0.3s; /* Transition for smoother appearance */
}

.popup h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #0151a1;
}

.popup p {
  color: #333;
}

.popup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/*------------------------------------------------------ HELP POPUP ---------------------------------------------------------------------------------------- */
.helpbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-container {
  position: fixed;
  bottom: 80px;
  right: 80px;
}

.content {
  display: flex;
  align-items: flex-end;
}

.speech-bubble {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  position: relative;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: -20px;
  right:-20px;
  overflow: hidden;
}

.face {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  background-image: url('./face.jpeg');
  background-size: cover;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.person img {
  width: 100%;
  height: auto;
}

.status-dot {
  width: 14px;
  height: 14px;
  background-color: rgb(50, 245, 50);
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  right: 4px;
  z-index: 2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #998181;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 3;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* --------------------------------------------------------------- FOOTER -----------------------------------------------------------------------------*/
.footer {
  background-color: #292d3e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* -------------------------------------------------------------- SOCIAL LINKS ------------------------------------------------------------------------*/
.social-links a {
  color: #8c8c8c;
  margin: 0 10px;
  text-decoration: none; /* Remove underlines */
}

.social-links a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* ------------------------------------------------------- WHAT IT DETECTS ------------------------------------------------------------------------- */
.detect-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
  margin-top: 100px;
}

.detect-sentence {
  font-size: 1rem;
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
}

.logo {
  max-width: 290px;
  margin-left: 20px;
  margin-right: 20px;
}

.detection-content {
  display: flex; 
  align-items: center;
  margin-top: 30px;
  margin-left: -20px;
}

.threat-container p {
  margin-left: 50px;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}

/* Apply typewriter effect to each step content separately */
.threat-content p:nth-child(1) {
  animation: typing 0.1s steps(40, end);
}

.threat-content p:nth-child(2) {
  animation: typing 30.1 steps(80, end) 0.2s;
}

.threat-content p:nth-child(3) {
  animation: typing 0.1s steps(120, end) 0.3s;
}

.threat-content p:nth-child(4) {
  animation: typing 0.1s steps(160, end) 0.4s;
}

.threat-container {
  padding: 0;
  margin-right: 20px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Left-align items */
  list-style-type: none;
}

.threat-item {
  display: flex;
  align-items: center; 
}

.threat-item::before {
  content: '\2713'; /* Unicode for checkmark */
  color: #11d4cb;
  font-size: 1.5em;
  margin-right: -10px;
  display: inline-block;
  margin-right: 0px;
  margin-top: 20px;
  animation: tickMovement 1s infinite alternate;
}

@keyframes tickMovement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5px);
  }
}

/* --------------------------------------------------------------- FEATURES -------------------------------------------------------------------------- */
.tab-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  margin-top: 40px;
  height: 400px; 
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #007bff;
  color: #fff;
  margin-right: 5px;
}

.detail-symbol::before {
  content: '\2713';
  color: #11d4cb;
  display: inline-block;
  animation: tickMovement 1s infinite alternate;
}

.tab:last-child {
  margin-right: 0;
}

.tab.active {
  background-color: #084586;
}

.tab-content {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.description {
  flex: 1;
  margin-right: 20px;
}

.details {
  flex: 1;
  margin-top: 70px;
  width: 1000;
  text-align: justify;
}

.feature-image {
  margin-top: 50px;
  margin-left: -95px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.description-text {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: -25px;
  margin-left: -90px;
  text-align: left;
  color: #b1fffb;
  width: 450px;
}

.feature-details {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-left: -90px;
}

.feature-details li {
  font-size: 16px;
  margin-bottom: 10px;
}

.detail-symbol {
  margin-right: 10px;
  color: #99caff;
}